*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}
/* header style */
#header{
    width: 100vw;
    background: rgba(229, 84, 115, 0.10);
}
#header-content{
    display: flex;
    justify-content: center;
    align-items: center;
}
#header-text{
    width: 50vw;
}
#header-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    margin-top: 32px;
}
#header-title{
    font-size: 80px;
}
#header-btn{
    background-color: #E55473;
    color: #fff;
    padding: 20px 43px;
    border-radius: 8px;
    border: none;
    margin-top: 32px;
    cursor: pointer;
    font-size: 18px;

}
#header-img{
    width: 30vw;
    display: flex;
    justify-content: end;
    margin-top: 115px;
}
#header-img img{
    width: 95%;
}
/* featured style */
#featured-flower{
    width: 80vw;
    height: 100vh;
    margin-top: 180px;
    margin: 150px auto;
}
#featured-text{
    width: 470px;
    margin: 0 auto;
    text-align: center;
}
.featured-title{
    font-size: 40px;
    color:#272727;
    font-weight: 800;
}
.featured-describtion{
    color: rgba(39, 39, 39, 0.60);;
}
#featured-container{
    display: flex;
    gap: 24px;
    margin-top: 48px;
}
.featured-box{
    width: 25vw;
    background-color: red;
    border-radius: 300px 300px 0 0;
    height: 540px;
    position: relative;
}
.featured-box img{
    width: 80%;
}
.box-1 img{
    position: absolute;
    top: 162px;
    padding: 0 27px;
}
.box-1{
    background: rgba(167, 33, 98, 0.15);
}
.box-2 img{
    position: absolute;
    top: 150px;
    padding: 0 27px;
}
.box-2{
    background: rgba(5, 151, 160, 0.15);
}
.box-3 img{
    position: absolute;
    top: 130px;
    padding: 0 27px;
}
.box-3{
    background: rgba(71, 125, 17, 0.15);
}
.box-a{
    position: absolute;
    top: 561px;
    left: 86px;
    color: #000;

}
/* sale up style */
#sale-up{
    width: 100vw;
    background: rgba(229, 84, 115, 0.10);
    margin-bottom: 130px;
}
#sale-up-container{
    width: 70vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
#sale-up-h1{
    font-size: 40px;
    margin-bottom: 24px;
}
#off-color{
    color: #E55473;
}
#sale-up-p{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
}
#sale-up-btn{
    background-color: #E55473;
    padding: 20px 43px;
    border-radius: 8px;
    border: none;
    margin-top: 24px;
    color: #fff;
    margin-left:130px;
    font-size: 18px;
}
/* instagram style */
#instagram{
    margin-bottom: 100px;
}
#insta-title-text{
    width: 580px;
    text-align: center;
    margin: 0 auto;
}
#insta-title-text h1{
    font-size: 40px;
    font-weight: 800;
    color: #272727;
}
#insta-title-text p{
    font-size: 18px;
    color: rgba(39, 39, 39, 0.60);

}
#insta-img-container{
    width: 80vw;
    height: 300px;
    margin: 0 auto;
    margin-top: 48px;
    display: flex;
    gap: 24px;
}
.insta-img{
    width: 18vw;
}
.insta-img img{
    width: 100%;
}
/* order now style */
#order-now{
    margin-bottom: 130px;
}
#order-content{
    width: 450px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 30px;
}
#order-title{
    font-size: 48px;
    font-weight: 800;
    color:#463f3f;
    margin-bottom: 10px;
}
#order-content p{
    color: #272727;
}
#flower-container{
    width: 80vw;
    display: flex;
    gap: 24px;
    margin: 0 auto;
}
.order-flower{
    width: 18vw;
    border: 1px solid gray;
    padding: 15px;
    text-align: center;
}
.flower-name{
    color: #463939;
    padding-bottom: 5px;
}
.flower-price{
    color: #282887;
    padding-bottom: 5px;
}
.order-flower button{
    padding: 13px 25px;
    
}
.order-flower img{
    width: 100%;
}
/* latest deals style */
#latest-deals{
    width: 80vw;
    height: 300px;
    background-color: red;
    margin: 0 auto;
    background-image: url(../Flower-Asset/Rectangle\ 9.png);
}
#latest-deals-title{
    text-align: center;
    padding-top: 70px;
}
#latest-deals-title h1{
    font-size: 40px;
    font-weight: 800;
    color: #272727;
}
#latest-deals-title p{
    color:rgb(124 110 110 / 90%);
}
#latest-input{
    display: flex;
    justify-content: center;
    margin-top: 48px;
}
#latest-input input{
    width: 500px;
    padding: 13px 10px;
    margin-right: 5px;
    outline: none;
    border: none;
    color: rgba(39, 39, 39, 0.60);
    border-radius: 8px;
    background: #FFF;
    font-size: 16px;
}
#latest-input button {
    border-radius: 8px;
    background: #E55473;
    border: none;
}
#latest-input button a{
    padding: 18px 30px;
    color: #fff;
    text-decoration: none;
    border: none;
    font-size: 18px;
}
/* footer style */
#footer{
    background-color: #111010;
    height: 450px;
    margin-top: 130px;
    color: #ffff;
    display: flex;
    justify-content: center;
    align-items: center;
}
#footer-text{
    width: 630px;
    text-align: center;
}
#footer-text span{
    color: #E55473;
}
#footer-text h1{
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 24px;
}
#footer-text p{
    color:rgb(179 163 163 / 90%);
    margin-bottom: 24px;
}
#footer-text small{
    color:#463f3f;
}
